.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  background-color: moccasin;
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: black;
    color: #fff;
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    background-color: pink;
  }
  .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: hotpink;
  }
}
